{% extends "layout.html" %}

{% block title %}
    This is Me
{% endblock %}

{% block main %}
    <h1>This is Me</h1>
    <p>Hi, I am Boxuan from Singapore. </p>
    <h3>Links</h3>
    <p><a href="http://linkedin.com/in/tangboxuan">LinkedIn</a></p>
    <p><a href="https://github.com/tangboxuan">Github</a></p>
    <h3>Projects</h3>
    <p><a href="https://sepicker.herokuapp.com">SEPicker</a>: A Flask web application for National University of Singapore undergraduates to more easily search for student exchange module mappings.</p>
{% endblock %}
