{% extends "layout.html" %}

{% block title %}
    This is CS50
{% endblock %}

{% block main %}
    <h1>This is CS50</h1>
    <h3>CS50x 2020</h3>
    <table>
    <tr>
        <th>Week 0</th>
        <td><a href="https://cs50.harvard.edu/x/2020/weeks/0/">Lecture</a></td>
        <td><a href="https://cs50.harvard.edu/x/2020/psets/0/">Pset 0</a></td>
    </tr>
    <tr>
        <th>Week 1</th>
        <td><a href="https://cs50.harvard.edu/x/2020/weeks/1/">Lecture</a></td>
        <td><a href="https://cs50.harvard.edu/x/2020/psets/1/">Pset 1</a></td>
    </tr>
    <tr>
        <th>Week 2</th>
        <td><a href="https://cs50.harvard.edu/x/2020/weeks/2/">Lecture</a></td>
        <td><a href="https://cs50.harvard.edu/x/2020/psets/2/">Pset 2</a></td>
    </tr>
    <tr>
        <th>Week 3</th>
        <td><a href="https://cs50.harvard.edu/x/2020/weeks/3/">Lecture</a></td>
        <td><a href="https://cs50.harvard.edu/x/2020/psets/3/">Pset 3</a></td>
    </tr>
    <tr>
        <th>Week 4</th>
        <td><a href="https://cs50.harvard.edu/x/2020/weeks/4/">Lecture</a></td>
        <td><a href="https://cs50.harvard.edu/x/2020/psets/4/">Pset 4</a></td>
    </tr>
    <tr>
        <th>Week 5</th>
        <td><a href="https://cs50.harvard.edu/x/2020/weeks/5/">Lecture</a></td>
        <td><a href="https://cs50.harvard.edu/x/2020/psets/5/">Pset 5</a></td>
    </tr>
    <tr>
        <th>Week 6</th>
        <td><a href="https://cs50.harvard.edu/x/2020/weeks/6/">Lecture</a></td>
        <td><a href="https://cs50.harvard.edu/x/2020/psets/6/">Pset 6</a></td>
    </tr>
    <tr>
        <th>Week 7</th>
        <td><a href="https://cs50.harvard.edu/x/2020/weeks/7/">Lecture</a></td>
        <td><a href="https://cs50.harvard.edu/x/2020/psets/7/">Pset 7</a></td>
    </tr>
    <tr>
        <th>Week 8</th>
        <td><a href="https://cs50.harvard.edu/x/2020/weeks/8/">Lecture</a></td>
        <td><a href="https://cs50.harvard.edu/x/2020/tracks/web/">Web</a>
        <a href="https://cs50.harvard.edu/x/2020/tracks/game/">Game</a>
        <a href="https://cs50.harvard.edu/x/2020/tracks/mobile/ios/">iOS</a>
        <a href="https://cs50.harvard.edu/x/2020/tracks/mobile/android/">Android</a></td>
    </tr>
    <tr>
        <th colspan="3"><a href="https://cs50.harvard.edu/x/2020/project/">Final Project</a></th>
    </tr>
    </table>
    <p>On Week 8, choose on of the four tracks to follow!</p>
{% endblock %}